[core]
        trustctime = false
        ignorecase = false
[alias]
        s = status
        co = checkout
        lol = log --graph --oneline --decorate
        ll = log --pretty=format:\"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn] %Cgreen%cr\" --decorate --numstat
        lnc = log --pretty=format:\"%h %s [%cn]\"
        lg = log --color --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset\" --abbrev-commit
        outgoing = log --graph --decorate origin/master..master
        incoming = log --graph --decorate master..origin/master
        blawm = blame -w -C -C -C
[pull]
        rebase = false
[init]
        defaultBranch = main
[rerere]
        enabled = true
[rebase]
        updateRefs = true
[merge]
        conflictStyle = diff3
[checkout]
        workers = 0
[column]
        ui = auto
[push]
        autoSetupRemote = true
[commit]
        gpgsign = true
[includeIf "gitdir:/workspaces/"]
        path = ~/.gitconfig.codespaces
[include]
        path = ~/.gitconfig.local   # if it exists, ~/.gitconfig.local is any extra config settings
[http]
        postBuffer = 524288000
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[diff]
        algorithm = histogram
[help]
        autocorrect = prompt

